<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="board-index container">
			<div class="page-header">
				<h2>Boards</h2>
			</div>
			<div class="row">
				<p class="boards"></p>
				<p class="new-board"></p>
				<p class="new-board-form"></p>
			</div>
		</div>
	</div>
</div>