/* List Show*/

button.list-delete-item {
	visibility: hidden;
}

li.list-show:hover button.list-delete-item {
	visibility: visible;
}

.cards {
	min-width: 10px;
	min-height: 10px;
}

/* Card Show */
button.card-delete-item{
	visibility: hidden;
}

li.card-item:hover button.card-delete-item {
	visibility: visible;
}

.buttons {
	margin-top: 20px;
}

