<div class="list-show col-sm-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><%= list.escape('title') %></h4>
		</div>
		<div class="panel-body card-index"></div>
	</div>
</div>