<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><%= list.escape('title') %></h4>
	</div>
	<div class="panel-body card-index"></div>
	<button 
		class="btn btn-lg btn-primary list-delete-item">Delete
	</button>
</div>
